body {}

.topbox {
  background-color: rgb(50, 165, 227);
  height: 50px;
  border-color: black;
  border-style: solid;
  text-align: start;
}

.author {}

.book {}

.bookinstance {}

.genre {}

.appnav {

  margin-bottom: 1cm;
  margin-top: 0cm;
  text-align: center;
  height: auto;

  background-color: rgb(226, 225, 225);
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.heading {
  margin-right: 55%;
  padding-top: 20px;
  color: black;
  background-color: rgb(200, 227, 251);
}

.home {
  text-align: left;

}

.link0 {
  padding: 0px 40px;
  text-align: justify;
  color: rgb(0, 0, 0);
}

.link1 {
  padding: 0px 40px;
  text-align: center;
  color: black;
}

.link2 {
  padding: 0px 40px;
  text-align: center;
  color: black;
}

.link3 {
  padding: 0px 40px;
  text-align: center;
  color: black;
}

.link4 {
  padding: 0px 40px;
  text-align: center;
  color: black;
}

/* .table table-striped {
  border-color: black;
  border-style: solid;
  border-width: ;
  border-bottom: 5px;
  background-color: rgb(189, 219, 209);



} */

.homeclass {
  color: aliceblue;
  text-align: center;
}

.photo {
  width: 100vw;
  height: 35vw;
}

.backbutton {

  background-color: rgb(78, 196, 239);
  color: whitesmoke;
}

.card {
  text-align: center;
  color: rgb(6, 6, 7);

  width: 15cm;
  height: auto;
  padding: 1cm 1cm;
  margin: auto;
}

.labelcontrol {
  padding: 10px 10px;
}

.authorbt {
  background-color: black;
  color: ivory;
}

#form1 {
  background-color: rgb(197, 255, 242);
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-width: 5px;

}

.inputcontrol {
  border: 2px;
  border-style: solid;
  border-color: black;
  width: 7cm;
  text-align: center;

  display: inline-block;
  margin: auto;
  margin-left: 2vw;

}

.logout {
  background-color: cornflowerblue;
  color: white;
  margin-left: 4cm;
}

.login {
  background-color: rgb(62, 188, 238);
  color: rgb(255, 255, 255);
}

#logincard {
  background-color: rgb(112, 202, 244);
  margin: auto;
  padding-top: 2cm;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-width: 5px;
}

.loginput {
  border: 2px;
  border-style: solid;
  border-color: black;
  width: 7cm;
  text-align: center;

  display: inline-block;
  margin: auto;
}

.link6 {
  padding: 5px 15px;
}

.formback {
  background-color: cornflowerblue;
  color: whitesmoke
}